@import '../../../styles/variables';
.d-tree-node{
    // border: 1px;
    .d-flex{
        // margin-bottom: 15px;
        padding-bottom: 5px;
        padding-top: 5px;
        // -webkit-margin-before: 5px;
        // -webkit-margin-after: 5px;
        .d-tree-head{
            .anticon{
                position: absolute;
                right: 0;
                margin-right: 15px;
            }
        }
    }
    .d-flex:hover{
        background-color: #E2E2E2 !important;
    }
    // .d-flex:focus, .d-flex:active{
    //     background-color: black !important;
    // }
    
    .d-tree-container{
        // list-style: none;
    }
}
